* {
  font-family: Hubballi;
  font-size: 24px;
}

:root {
  --cyan: #56CCF2;
  --teal: #369696;
  --green: #B8F98C;
  --red: #EA9696;

  --tight: 8px;
  --loose: 12px;
  --none: 0;

  --border: 3px solid black;
  --border-radius: 20px;
  --shadow: 0px 4px black;

  --scrollbar-foreground: #999
  --scrollbar-background: #333
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);

  background-color: #BDE7FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  justify-content: center;
  margin: 0;
  display: flex;
  /* min-width: 320px; */
  min-height: 100vh;
}

main {
  max-width: 1200px;
}

::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
::-webkit-scrollbar-thumb { /* Foreground */
  /* background: var(--scrollbar-foreground); */
  background: #999;
}
::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
}